<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>
<footer th:fragment="foot">
    <div class="footavatar">
        <img src="images/photo.jpg" class="footphoto">
        <ul class="footinfo">
            <p class="fname"><a href="/dancesmile" >青轻飞扬</a>  </p>
            <p class="finfo">性别：女 年龄：25岁</p>
            <p>现居：四川成都</p></ul>
    </div>
    <section class="visitor">
        <h2>最近访客</h2>
        <ul>
            <li><a href="/"><img src="images/s0.jpg"></a></li>
            <li><a href="/"><img src="images/s1.jpg"></a></li>
            <li><a href="/"><img src="images/s2.jpg"></a></li>
            <li><a href="/"><img src="images/s3.jpg"></a></li>
            <li><a href="/"><img src="images/s5.jpg"></a></li>
            <li><a href="/"><img src="images/s6.jpg"></a></li>
            <li><a href="/"><img src="images/s7.jpg"></a></li>
            <li><a href="/"><img src="images/s8.jpg"></a></li>
        </ul>
    </section>
    <div class="Copyright">
        <ul>
            <a href="/">帮助中心</a><a href="/">空间客服</a><a href="/">投诉中心</a><a href="/">空间协议</a>
        </ul>
        <p>Design by DanceSmile</p>
    </div>
</footer>
</body>
</html>