<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header th:fragment="header" id="masthead" class="site-header" role="banner" style="color: white;background-image: url('https://listeningrain.cn/templates/themes/theme_greyshade-master/static/images/left-bg2.jpg')">

        <div class="mid-header">
            <div class="container">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-bars"></i></button>
                </nav><!-- #site-navigation -->
            </div>
        </div>
        <div class="top-header">
            <div class="container" style="margin-bottom: -60px">
                <div class="site-branding" style="margin-left: 14%">

                    <h1 class="site-title">
                        <a href="/index/page/1" rel="home" style="color: white;"><span th:text="${userShow.nickName}"></span></a></h1>
                    <p class="site-description"><span th:text="${userShow.famousSays}"></span></p>
                    <div style="color: white;padding-left: 1%">
                        <a style="color: white;" href="/index/about" class="site-description" >关于 /</a>
                        <a style="color: white;" href="/index/archive" class="site-description">&nbsp;归档 /</a>
                        <a style="color: white;" href="#" class="site-description" >&nbsp;个人空间</a>
                    </div>
                </div><!-- .site-branding -->
                <div style="float: right;max-width: 400px;margin-right: 10%;margin-top: 5%">
                    <p >我不在意任何世俗的牵绊，我所希望的，就是能够，陪你走到生命的尽头！</p>
                    <p style="padding-left: 20%;margin-top: -10px">--高渐离《秦时明月》</p>
                </div>

            </div>
        </div>

</header>

</body>
</html>