<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/btn.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/modernizr.js"></script>
    <![endif]-->
</head>

<body>
<header th:fragment="head">
    <nav id="nav">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/index/archive" >归档</a></li>
            <li><a href="/index/link">友链</a></li>
            <li><a href="javascript:void(0)" >关于</a></li>
            <li><a href="javascript:void(0)" >联系作者</a></li>
        </ul>
    </nav>
    <script src="/js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
</header>
</body>
</html>