<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <aside th:fragment="left" id="secondary" class="widget-area" role="complementary">
    <section id="search-2" class="widget widget_search"><form method="get" class="search-form" id="search-form" action="http://localhost/wordpress/">
        <div class="top-section-search">
            <input type="search" value="" name="s" id="s" placeholder="Search &hellip;" />
            <input type="submit" value="search" class="search-subimit" />
        </div>
    </form></section>		<section id="recent-posts-2" class="widget widget_recent_entries">		<div class="title-widget"><h2 class="widget-title">近期文章</h2></div>		<ul>
    <li>
        <a href="http://localhost/wordpress/2018/11/11/8/">(无标题)</a>
    </li>
    <li>
        <a href="http://localhost/wordpress/2018/11/11/%e5%93%87%e5%93%88%e5%93%88/">哇哈哈</a>
    </li>
    <li>
        <a href="http://localhost/wordpress/2018/11/11/hello-world/">世界，您好！</a>
    </li>
</ul>
</section><section id="recent-comments-2" class="widget widget_recent_comments"><div class="title-widget"><h2 class="widget-title">近期评论</h2></div><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link"><a href='https://wordpress.org/' rel='external nofollow' class='url'>一位WordPress评论者</a></span>发表在《<a href="http://localhost/wordpress/2018/11/11/hello-world/#comment-1">世界，您好！</a>》</li></ul></section><section id="archives-2" class="widget widget_archive"><div class="title-widget"><h2 class="widget-title">文章归档</h2></div>		<ul>
    <li><a href='http://localhost/wordpress/2018/11/'>2018年十一月</a></li>
</ul>
</section>
    <section id="categories-2" class="widget widget_categories"><div class="title-widget"><h2 class="widget-title">分类目录</h2></div>		<ul>
        <li class="cat-item cat-item-1"><a href="http://localhost/wordpress/category/uncategorized/" >未分类</a>
        </li>
    </ul>
    </section>
</aside>
</body>
</html>