<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<aside th:fragment="left" id="secondary" class="widget-area" role="complementary">
    <section id="search-2" class="widget widget_search">
        <form class="search-form" id="search-form">
            <div class="top-section-search" style="color: white;">
                <input type="search" value="" name="q" id="q" placeholder="Search &hellip;"/>
                <button onclick="search()" style="margin-left: 5px;background-color: black;border-radius: 6px"
                        value="search" type="button" class="btn">search
                </button>
            </div>
        </form>
    </section>
    <section id="recent-posts-2" class="widget widget_recent_entries">
        <div class="title-widget"><h2 class="widget-title">最新文章</h2></div>
        <ul>
            <li th:each="content : ${latest_contents.data}">
                <a th:href="@{'/index/post/'+${content.cid}}"><span th:text="${content.title}"></span> (<span th:text="${content.created}"></span>)</a>
            </li>
        </ul>
    </section>
    <section id="recent-comments-2" class="widget widget_recent_comments">
        <div class="title-widget"><h2 class="widget-title">最新照片</h2></div>
        <ul id="recentcomments">
            <li class="recentcomments">
                <span>未完待续。。。</span>
            </li>
        </ul>
    </section>

    <section id="categories-2" class="widget widget_categories">
        <div class="title-widget"><h2 class="widget-title">友情链接</h2></div>
        <ul>
            <li class="cat-item cat-item-1" th:each="link : ${links.data}">
                <a th:href="${link.slug}" target="_blank"><span th:text="${link.name}"></span></a>
            </li>
        </ul>
    </section>
</aside>
</body>
</html>