<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"/>
<head>
    <meta charset="UTF-8">
    <title>关于</title>
    <meta name="keywords" content="Listeningrain,听雨,博客" />
    <meta name="description" content="小清新风个人博客,简洁风" />
</head>
<body>

<div th:replace="common/head :: head"/>

 <div class="mainContent">

     <div th:replace="common/left :: left"></div>

    <div class="blogitem">
        <article style="border-color: white;">
            <h2 style="padding-top: 20px;padding-left: 40px;font-weight: bold;"><a href="/" style="color: black;font-size: 25px;">关于</a>
            </h2>

            <div th:each="about : ${about.data}">
                <ul class="text" th:utext="${about.content}"></ul>
            </div>
        </article>

    </div>

 </div>

<div th:replace="common/foot :: foot"/>

</body>

</html>