<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>听雨博客，诚意推荐</title>
</head>

<body class="home blog logged-in admin-bar no-customize-support hfeed at-sticky-sidebar right-sidebar" style="margin-top: 0">
<div id="page" class="site">

    <div th:replace="common/header :: header"></div>

    <div id="content" class="site-content">
        <div class="container">

            <div th:replace="common/left :: left"></div>

            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                 <div th:each="archive,archiveStat : ${archives}" >
                     <div class="panel panel-primary" style="margin: 0;">
                         <div class="panel-heading"><h3 class="panel-title"><span th:text="${archive.key}"></span></h3></div>
                     </div>

                    <article style="margin: 0;padding: 0;padding-left: 30px;padding-right: 15px" th:each="content : ${archive.value}" id="post-6" class="post-8 post type-post status-publish format-standard hentry category-uncategorized">
                        <header class="entry-header">
                            <h2 class="entry-title"><a th:href="@{'/index/post/'+${content.cid}}" rel="bookmark"><label th:text="${content.title}"></label></a></h2>
                            <div class="entry-meta">
                                <span class="poston">Posted on <a rel="bookmark"><time class="entry-date published updated"><label th:text="${content.created}"></label></time></a></span><span class="post-by"> By <span class="author vcard"><a class="url fn n"><span th:text="${userShow.nickName}"></span></a></span></span>
                            </div><!-- .entry-meta -->

                            <div class="entry-content">
                                <p>
                                    <span th:text="${content.content}"></span>
                                </p>
                            </div>
                        </header>
                    </article>
                 </div>

                </main>
            </div>

        </div>

    </div>
</div>



</body>
</html>
