<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"/>
<head>
    <meta charset="UTF-8">
    <title>听雨博客，诚意推荐</title>
    <meta name="keywords" content="Listeningrain,听雨,博客" />
    <meta name="description" content="小清新风个人博客" />
</head>
<body>

<div th:replace="common/head :: head"/>

 <div class="mainContent">

     <div th:replace="common/left :: left"></div>

    <div class="blogitem">

              <article th:each="content1 : ${contents.data}">
                <h2 class="title"><a href="/" ><span th:text="${contents.pageNum}" /></a></h2>
                <ul class="text"></ul>
                <div class="textfoot">
                  <a href="/">阅读全文</a><a href="/">评论</a><a href="/">转载</a>
                </div>
              </article>

      <div class="pages"><span>1</span><a href="/" hidefocus="">2</a><a href="/" hidefocus="">3</a><a href="/" class="next">下一页&gt;&gt;</a></div>
    </div>

 </div>

<div th:replace="common/foot :: foot"/>

</body>

</html>