<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>静心听雨</title>

    <style>
        @media (min-width: 767px) {
            .visible-lg-block {
                display: block !important;
            }
            .haha{
                float: right; width: 50%;padding-left: 25px;margin-top: -22px;
            }
        }
        @media (max-width: 767px) {
            .hidden-xs {
                display: none !important;
            }
            .haha{
                float: right; width: 100%;padding-left: 25px;margin-top: -22px;
            }
        }
    </style>

</head>

<body class="home blog logged-in admin-bar no-customize-support hfeed at-sticky-sidebar right-sidebar" style="margin-top: 0">
<div id="page" class="site">

    <div th:replace="common/header :: header"></div>

    <div id="content" class="site-content">
        <div class="container">

            <div th:replace="common/left :: left"></div>

            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">

                    <article style="min-height: 250px;" th:each="content : ${contents.data}">
                        <div class="entry-img hidden-xs visible-lg-block" style="height: auto;width:50%;float: left;">
                            <img class="img-responsive" th:src="${content.thum}"/>
                        </div>

                        <header class="haha" style="">
                            <h3 class="entry-title" ><a th:href="@{'/index/post/'+${content.cid}}" rel="bookmark"><label style="color: black;cursor:pointer" th:text="${content.title}"></label></a></h3>
                            <div class="entry-meta" style="margin-top: -10px">
                                <span class="poston">Posted on <a rel="bookmark" >
                                    <time class="entry-date published updated"><label th:text="${content.created}"></label>
                                    </time>
                                </a></span><span class="post-by"> By <span class="author vcard"><a class="url fn n"><span th:text="${userShow.data.nickName}"></span></a></span></span>
                            </div><!-- .entry-meta -->

                            <div  style="">
                                <p>
                                    <span th:text="${content.content}"></span>
                                </p>
                            </div>
                        </header>
                    </article>

                    <div style="text-align: right;margin-top: -30px;margin-right: -20px">
                        <label  th:each="pagebar : ${contents.pageBar}" style="margin-left: -20px">

                            <label th:if="${pagebar} eq ${contents.pageNum}" style="margin-left: 3px;">
                                <ul class="pagination" >
                                    <li class="active">
                                        <a th:href="@{'/index/page/'+${pagebar}}">
                                            <label th:text="${pagebar}"/>
                                        </a>
                                    </li>
                                </ul>
                            </label>

                            <label th:if="${pagebar} ne ${contents.pageNum}" style="margin-left: 3px;">
                                <ul class="pagination" >
                                    <li >
                                        <a th:href="@{'/index/page/'+${pagebar}}">
                                            <label th:text="${pagebar}"/>
                                        </a>
                                    </li>
                                </ul>
                            </label>
                        </label>
                        <ul class="pagination" style="margin-left: -20px">
                            <li >
                                <a >
                                    <label>共</label><label th:text="${contents.totalPageNum}"/><label>页</label>
                                </a>
                            </li>
                        </ul>
                    </div>

                </main>
            </div>

        </div>

    </div>
</div>



</body>
</html>
