<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>

<div th:replace="admin/common/head :: head"/>

<div class="down-main">

    <div th:replace="admin/common/left :: left"/>

  <div class="right-product my-index right-full">
     <div class="container-fluid">
	   <div class="info-center">
       
       <!---title----->
            <div class="info-title">
              <div class="pull-left">
                <h4><strong></strong></h4>
                <p>欢迎登录管理系统</p>
              </div>
              <div class="time-title pull-right">
                  <div class="year-month pull-left">
                    <p>星期二</p>
                    <p><span>2016</span>年8月23日</p>
                  </div>
                  <div class="hour-minute pull-right">
                     <strong>9:00</strong>
                  </div>
              </div>
              <div class="clearfix"></div>
            </div>
           <!----content-list----> 
            <div class="content-list">
               <div class="row">
                 <div class="col-md-3">
                    <div class="content">
                       <div class="w30 left-icon pull-left">
                          <span class="glyphicon glyphicon-file blue"></span>
                       </div>
                       <div class="w70 right-title pull-right">
                       <div class="title-content">
                           <p>总访问量</p>
                           <h3 class="number">90</h3>
                           <button class="btn btn-default">今日访问量<span style="color:red;">12</span></button>
                       </div>
                       </div>
                       <div class="clearfix"></div>
                    </div>
                 </div>
                  <div class="col-md-3">
                    <div class="content">
                       <div class="w30 left-icon pull-left">
                          <span class="glyphicon glyphicon-file violet"></span>
                       </div>
                       <div class="w70 right-title pull-right">
                       <div class="title-content">
                           <p>总文章数</p>
                           <h3 class="number" th:text="${contentsCount.totalCount}"></h3>
                           <button class="btn btn-default">今日发表<span style="color:red;" th:text="${contentsCount.todayCount}"></span></button>
                       </div>
                       </div>
                       <div class="clearfix"></div>
                    </div>
                 </div>
                  <div class="col-md-3">
                    <div class="content">
                       <div class="w30 left-icon pull-left">
                          <span class="glyphicon glyphicon-file orange"></span>
                       </div>
                       <div class="w70 right-title pull-right">
                       <div class="title-content">
                           <p>总评论数</p>
                           <h3 class="number" th:text="${commentsCount.totalCount}"></h3>
                           <button class="btn btn-default">今日评论<span style="color:red;" th:text="${commentsCount.todayCount}"></span></button>
                       </div>
                       </div>
                       <div class="clearfix"></div>
                    </div>
                 </div>
                  <div class="col-md-3">
                    <div class="content">
                       <div class="w30 left-icon pull-left">
                          <span class="glyphicon glyphicon-file green"></span>
                       </div>
                       <div class="w70 right-title pull-right">
                       <div class="title-content">
                           <p>友链总数</p>
                           <h3 class="number" th:text="${linksCount.totalCount}"></h3>
                           <button class="btn btn-default">今日友链<span style="color:red;" th:text="${linksCount.todayCount}"></span></button>
                       </div>
                       </div>
                       <div class="clearfix"></div>
                    </div>
                 </div>
               </div>
               <!-------信息列表------->
               <div class="row newslist" style="margin-top:20px;">
                 <div class="col-md-8">
                   <div class="panel panel-default" >

                      <div class="panel-heading">
                       最近评论<div class="caret"></div>
                       <a href="#" class="pull-right"><span class="glyphicon glyphicon-refresh"></span></a>
                      </div>
                       <div th:each="comment : ${comments.data}">
                          <div class="panel-body">
                               <div class="w15 pull-left">
                                 <img src="https://cn.gravatar.com/avatar/a094d86ee6a1d7e4235f092e0f53e801?s=80&r=G&d=" width="25" height="25" class="img-circle">
                                 <span th:text="${comment.author}"></span>
                               </div>
                               <div class="w55 pull-left"><span th:utext="${comment.content}"></span></div>
                               <div class="w20 pull-left text-center"><span th:text="${comment.created}"></span></div>
                          </div>
                   </div>
                      
                      <div class="panel-body text-center">
                          <a href="/admin/index/comments" style="color:#5297d6;">查看全部</a>
                      </div>
                      
                    </div>
                 </div>
                 
                 <div class="col-md-4">
                     <div class="panel panel-default">
                      <div class="panel-heading">
                       最近添加名言

                           <a href="#" class="pull-right"><span class="glyphicon glyphicon-refresh"></span></a>


                         <div th:each="motto : ${mottos.data}">
                              <div class="panel-body">
                                  <div class="w15 pull-left" style="width: 40%">
                                      <span th:text="${motto.name}"></span>
                                  </div>
                                  <div style="width: 60%;" class="w55 pull-left"><span th:utext="${motto.content}"></span></div>
                              </div>
                         </div>
                      </div>
                    </div>
                    
                 </div>
               </div>
            </div>
            
       </div>			
	 </div>
  </div>
</div>
</body>
</html>
