<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>

<div th:replace="admin/common/head :: head"/>

<div class="down-main">

    <div th:replace="admin/common/left :: left"/>

  <div class="right-product my-index right-full">
     <div class="container-fluid">
	   <div class="info-center">
           <div class="row">

               <h3 style="padding-left: 15px">友链管理</h3>

               <div class="col-md-12">
                   <table class="table table-striped table-bordered">
                       <thead>
                       <tr>
                           <th>链接名称</th>
                           <th>链接地址</th>
                           <th>链接LOGO</th>
                           <th>链接排序</th>
                           <th>操作</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr mid="8">
                           <td>王爵的github</td>
                           <td><a href="https://github.com/biezhi" target="_blank">https://github.com/biezhi</a></td>
                           <td></td>
                           <td>2</td>
                           <td>
                               <!--<a href="javascript:void(0)" onclick="editLink(this);"
                                  class="btn btn-primary btn-sm waves-effect waves-light m-b-5"><i
                                       class="fa fa-edit"></i> <span>编辑</span></a>
                               <a href="javascript:void(0)" onclick="delLink(8);"
                                  class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                       class="fa fa-trash-o"></i> <span>删除</span></a>-->
                           </td>
                       </tr>

                       <div th:each="link : ${links.data}">
                           <tr mid="8">
                               <td><label th:text="${link.name}"/></td>
                               <td><a th:href="@{${link.slug}}" style="color:#2479cc;" target="_blank"><label th:text="${link.slug}" /></a></td>
                               <td></td>
                               <td><label th:text="${link.sort}"/></td>
                               <td>
                                   <a href="javascript:void(0)"  th:onclick="'javascript:editLink('+${link.mid}+')'"
                                      class="btn btn-primary btn-sm waves-effect waves-light m-b-5"><i
                                           class="fa fa-edit"></i> <span>编辑</span></a>
                                   <a href="javascript:void(0)" onclick="delLink(8);"
                                      class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                           class="fa fa-trash-o"></i> <span>删除</span></a>
                               </td>
                           </tr>

                       </div>

                       </tbody>
                   </table>
                   <div id="page" style="width: 100%;height: auto;text-align: right;margin-top: -20px">

                       <label  th:each="pagebar : ${links.pageBar}">

                           <label th:if="${pagebar} eq ${links.pageNum}">
                               <ul class="pagination">
                                   <li class="active">
                                       <a th:href="@{'/admin/index/link?pageNum='+${pagebar}}">
                                           <label th:text="${pagebar}"/>
                                       </a>
                                   </li>
                               </ul>
                           </label>

                           <label th:if="${pagebar} ne ${links.pageNum}">
                               <ul class="pagination">
                                   <li >
                                       <a th:href="@{'/admin/index/link?pageNum='+${pagebar}}">
                                           <label th:text="${pagebar}"/>
                                       </a>
                                   </li>
                               </ul>
                           </label>

                       </label>

                   </div>
               </div>
               <div class="row">
                   <div class="col-md-12" style="padding: 20px;margin-top: -20px">
                       <div class="panel panel-primary">
                           <div class="panel-heading"><h3 class="panel-title">新增/修改</h3></div>
                           <div class="panel-body">

                               <form id="linkForm" class="form-inline" role="form">

                                   <input type="hidden" id="mid" name="mid"/>

                                   <div class="form-group">
                                       <label class="sr-only">链接标题</label>
                                       <input type="text" id="title" name="title" class="form-control" placeholder="请输入链接标题"
                                              required aria-required="true" style="width: 230px"/>
                                   </div>

                                   <div class="form-group">
                                       <label class="sr-only">链接URL</label>
                                       <input type="url" id="url" name="url" class="form-control" placeholder="请输入链接地址" required
                                              aria-required="true" style="width: 230px"/>
                                   </div>

                                   <div class="form-group">
                                       <label class="sr-only">链接LOGO</label>
                                       <input type="url" id="logo" name="logo" class="form-control"
                                              placeholder="请输入链接LOGO，没有则不输入" style="width: 250px"/>
                                   </div>

                                   <div class="form-group">
                                       <label class="sr-only">链接排序</label>
                                       <input type="number" id="sort" name="sort" class="form-control" value="0" style="width: 200px"/>
                                   </div>

                                   <button style="margin-left: 7px" onclick="updateLink()" type="button" class="btn btn-success waves-effect waves-light m-l-10">保存</button>
                                   <button onclick="clearLink()" type="button" class="btn btn-success waves-effect waves-light m-l-10">清空</button>
                               </form>
                           </div>
                       </div>
                   </div>

               </div>
           </div>
       </div>			
	 </div>
  </div>
</div>

<link href="/xcConfirm/css/xcConfirm.css" rel="stylesheet">
<script src="/xcConfirm/js/xcConfirm.js"></script>
<script type="application/javascript">
    function editLink(name) {
        getLink(name);
    }
    
    function getLink(mid) {
        $.ajax({
            "url":"/admin/index/editLink",
            "type":'get',
            "data": 'mid='+ mid,
            "success":function (data) {
                $("#title").val(data.data.name);
                $("#url").val(data.data.slug);
                $("#logo").val(data.data.logo);
                $("#sort").val(data.data.sort);
                $("#mid").val(mid);
            },
            "error":function (data) {

            }
        })
    }

    function clearLink() {
        $("#title").val(null);
        $("#url").val(null);
        $("#logo").val(null);
        $("#sort").val(null);
        $("#mid").val(null);
    }

    function updateLink() {
        if("" == $("#title").val() || "" == $("#url").val() ){
            var txt=  "请先填写相关信息哦！";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
            return;
        }
        $.post({
            "url":"/admin/index/updateLink",
            data:JSON.stringify(GetJsonData()),
            cache:false,
            dataType:'json',
            contentType:"application/json",
            "success":function (data) {
                var txt=  "骚年，操作成功！";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
                setTimeout(function () {
                    window.location.href = '/admin/index/link';
                }, 1000);
            },
            "error":function (XMLHttpRequest, textStatus, errorThrown) {
                var txt=  "啊哦，操作失败了，稍后再试吧！";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
            }
        })
    }

    function GetJsonData() {

        var pojoInputDTO = {
            data:{
                "mid":$("#mid").val(),
                "name": $("#title").val(),
                "slug": $("#url").val(),
                "sort":$("#sort").val(),
            }
        };
        return pojoInputDTO;
    }
</script>

</body>
</html>
