<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>

<div th:replace="admin/common/head :: head"/>

<div class="down-main">

    <div th:replace="admin/common/left :: left"/>

  <div class="right-product my-index right-full">
     <div class="container-fluid">
	   <div class="info-center">
           <table class="table table-bordered">
               <h3>文章列表</h3>
               <thead>
                   <tr>
                       <th>文章标题</th>
                       <th>发布时间</th>
                       <th>浏览量</th>
                       <th>文章状态</th>
                       <th>文章分类</th>
                       <th>操作</th>
                   </tr>
               </thead>
               <tbody  th:each="content : ${contents.data}">
                   <div th:if=" publish eq ${content.status}">
                       <tr class="success">
                           <td><a th:href="@{'/index/post/'+${content.cid}}"><span  th:text="${content.title}"/></a></td>
                           <td><span th:text="${content.created}"/></td>
                           <td><span th:text="${content.hits}"/></td>
                           <td><span class="label label-success" th:text="已发布"/> </td>
                           <td><span th:text="${content.categories}"/></td>
                           <td>未完待续</td>
                       </tr>
                   </div>
                   <div th:if=" draft eq ${content.status}">
                       <tr class="active">
                           <td><a th:href="@{'/index/post/'+${content.cid}}" ><span  th:text="${content.title}"/></a></td>
                           <td><span th:text="${content.created}"/></td>
                           <td><span th:text="${content.hits}"/></td>
                           <td><span class="label label-default" th:text="草稿"/></td>
                           <td><span th:text="${content.categories}"/></td>
                           <td>未完待续</td>
                       </tr>
                   </div>

               </tbody>
           </table>
       </div>			
	 </div>
  </div>
</div>
</body>
</html>
