<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>

<div th:replace="admin/common/head :: head"/>

<div class="down-main">

    <div th:replace="admin/common/left :: left"/>

  <div class="right-product my-index right-full">
     <div class="container-fluid">
	   <div class="info-center" >
           <div class="panel panel-primary" style="margin-top: 10px;margin-right: 20px;">
               <div class="panel-heading"><h3 class="panel-title">文章管理</h3></div>
           <table class="table table-bordered" style="background-color: #eceff3;">
               <thead>
                   <tr>
                       <th>文章标题</th>
                       <th>发布时间</th>
                       <th>浏览量</th>
                       <th>文章状态</th>
                       <th>文章分类</th>
                       <th>最新修改时间</th>
                       <th>操作</th>
                   </tr>
               </thead>
               <tbody  th:each="content : ${contents.data}">
                   <div th:if=" publish eq ${content.status}">
                       <tr class="success" style="vertical-align: center">
                           <td><a th:href="@{'/index/post/'+${content.cid}}"><span  th:text="${content.title}"/></a></td>
                           <td><span th:text="${content.created}"/></td>
                           <td><span th:text="${content.hits}"/></td>
                           <td><span class="label label-success" th:text="已发布"/> </td>
                           <td><span th:text="${content.categories}"/></td>
                           <td><span th:text="${content.modified}"/></td>
                           <td style="vertical-align: center"><a th:href="@{'/admin/index/editContent?cid='+${content.cid}}"
                                  class="btn btn-primary btn-sm waves-effect waves-light m-b-5"><i
                                   class="fa fa-edit"></i> <span>编辑</span></a>
                               <a href="javascript:void(0)" th:onclick="'javascript:delContent('+${content.cid}+')'"
                                  class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                       class="fa fa-trash-o"></i> <span>删除</span></a>
                               <a href="javascript:void(0)" target="_blank" th:href="@{'/index/post/'+${content.cid}}"
                                  class="btn btn-info btn-sm waves-effect waves-light m-b-5"><i
                                       class="fa fa-trash-o"></i> <span>预览</span></a></td>
                       </tr>
                   </div>
                   <div th:if=" draft eq ${content.status}">
                       <tr class="active">
                           <td><a th:href="@{'/index/post/'+${content.cid}}" ><span  th:text="${content.title}"/></a></td>
                           <td><span th:text="${content.created}"/></td>
                           <td><span th:text="${content.hits}"/></td>
                           <td><span class="label label-default" th:text="草稿"/></td>
                           <td><span th:text="${content.categories}"/></td>
                           <td><span th:text="${content.modified}"/></td>
                           <td style="vertical-align: center">
                               <a  th:href="@{'/admin/index/editContent?cid='+${content.cid}}"
                                  class="btn btn-primary btn-sm waves-effect waves-light m-b-5"><i
                                       class="fa fa-edit"></i> <span>编辑</span></a>
                               <a href="javascript:void(0)" th:onclick="'javascript:delContent('+${content.cid}+')'"
                                  class="btn btn-danger btn-sm waves-effect waves-light m-b-5"><i
                                       class="fa fa-trash-o"></i> <span>删除</span></a>
                           </td>
                       </tr>
                   </div>

               </tbody>
           </table>
           <div id="page" style="background-color: #eceff3;width: 100%;height: auto;text-align: right;padding-right: 10px;margin-top: -10px">

                   <label  th:each="pagebar : ${contents.pageBar}">

                               <label th:if="${pagebar} eq ${contents.pageNum}" style="margin-left: 3px;">
                                   <ul class="pagination">
                                       <li class="active">
                                           <a th:href="@{'/admin/index/list?pageNum='+${pagebar}}">
                                                <label th:text="${pagebar}"/>
                                           </a>
                                       </li>
                                   </ul>
                               </label>

                               <label th:if="${pagebar} ne ${contents.pageNum}" style="margin-left: 3px;">
                                   <ul class="pagination">
                                       <li >
                                           <a th:href="@{'/admin/index/list?pageNum='+${pagebar}}">
                                               <label th:text="${pagebar}"/>
                                           </a>
                                       </li>
                                   </ul>
                               </label>
                   </label>

                   <ul class="pagination">
                       <li >
                           <a href="#">
                               <label>共</label><label th:text="${contents.totalPageNum}"/><label>页</label>
                           </a>
                       </li>
                   </ul>
           </div>
           </div>
       </div>			
	 </div>
  </div>
</div>

<link href="/xcConfirm/css/xcConfirm.css" rel="stylesheet">
<script src="/xcConfirm/js/xcConfirm.js"></script>

<script type="application/javascript">
    function delContent(cid) {
        var txt=  "您确定要删除吗？";
        window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.warning,{
            /**
             * 点击确定后的回调事件
             */
            onOk:function(){
                del(cid);
            }
        });

    }

    function del(cid) {
        var pojoInputDTO = {
            data:{
                "cid":cid
            }
        };
        $.post({
            "url":"/admin/index/deleteContent",
            data:JSON.stringify(pojoInputDTO),
            cache:false,
            dataType:'json',
            contentType:"application/json",
            "success":function (data) {
                var txt=  "骚年，删除成功！";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
                setTimeout(function () {
                    window.location.href = '/admin/index/list';
                }, 1000);
            },
            "error":function (XMLHttpRequest, textStatus, errorThrown) {
                var txt=  "啊哦，操作失败了，稍后再试吧！";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
            }
        })
    }
</script>

</body>
</html>
