<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="/admin_/script/jquery-3.3.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/admin_/WangEditor/wangEditor.min.js"></script>
    <script type="text/javascript" src="/admin_/meditor/editormd.js"></script>
    <link rel="stylesheet"href="/admin_/meditor/css/editormd.css" />
    <link href="/xcConfirm/css/xcConfirm.css" rel="stylesheet">
    <script src="/xcConfirm/js/xcConfirm.js"></script>

    <style type="text/css">
        .border_show{
            border: 1px solid #ccc;
        }
    </style>

</head>

<body>

<div th:replace="admin/common/head :: head"/>

<div class="down-main">

    <div th:replace="admin/common/left :: left"/>

  <div class="right-product my-index right-full" style="height: auto;">
     <div class="container-fluid" style="background-color: #eceff3">
	   <div class="info-center">
           <h3>发表新文章</h3>
           <form id="articleForm" >
               <div class="form-group col-md-6" style="padding: 0 10px 0 0;">
                   <input class="form-control" placeholder="请输入文章标题（必须）" name="title" required/>
               </div>

               <div class="form-group col-md-6" style="padding: 0 0 0 10px;">

                   <select class="form-control" name="categories">
                       <option >请选择文章分类</option>
                       <option value ="默认分类">默认分类</option>
                   </select>
               </div>

               <div class="form-group col-md-6" style="padding: 0 10px 0 0;">
                   <input name="tags" id="tags" type="text" class="form-control" placeholder="请填写文章标签" />
               </div>

               <div class="form-group col-xs-12">
                   <div class="pull-right" style="margin-right: 10px">
                       <button id="switch-btn" type="button" class="btn btn-success waves-effect waves-light" onclick="switchEditor()">切换为富文本编辑器</button>  &nbsp;&nbsp;切换将丢失当前所有内容
                   </div>
               </div>

            <div id="my-editormd" class="form-group col-md-12" >
                   <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
                   <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
               </div>

             <div id="html-div" style="width: 100%;height: auto;display: none">
                <div id="toolbar" class="toolbar border_show" style="width: 100%;background-color: white;">
                </div>
                <div style="padding: 2px 0; color: #ccc"></div>
                <div id="html-container" class="form-group col-md-12 border_show" style="background-color: white;height: 450px;" >
                     <p>在这里开始写您的文章哦</p>
                 </div>
             </div>
               <input id="content_type" type="hidden" value="md">

               <div class="clearfix"></div>

               <div class="text-right" style="margin-bottom: 50px">
                   <a class="btn btn-default waves-effect waves-light" href="/admin/article">返回列表</a>
                   <button type="button" class="btn btn-primary waves-effect waves-light" onclick="subArticle('publish');">
                       保存文章
                   </button>
                   <button type="button" class="btn btn-warning waves-effect waves-light" onclick="subArticle('draft');">
                       存为草稿
                   </button>
               </div>
           </form>
       </div>
	 </div>
  </div>
</div>

<script >
    var Htmleditor;
    var Mdeditor;

    $(function() {
        //页面加载完毕后先渲染富文本编辑器
        md();
        fuwenben();
    })

    //渲染富文本编辑器
    function fuwenben() {
        var E = window.wangEditor
        Htmleditor = new E('#toolbar','#html-container')
        Htmleditor.customConfig.uploadImgServer = '/common/uploadImg'  // 上传图片到服务器
        Htmleditor.customConfig.uploadImgTimeout = 300000000
        Htmleditor.customConfig.uploadFileName = 'file'
        Htmleditor.customConfig.debug = true
        Htmleditor.create()
    }

    //渲染markdown编辑器
    function md() {
        Mdeditor = editormd("my-editormd", {//注意1：这里的就是上面的DIV的id属性值
            width   : "99%",
            height  : 480,
            syncScrolling : "single",
            path    : "/admin_/meditor/lib/",//注意2：你的路径
            saveHTMLToTextarea : true//注意3：这个配置，方便post提交表单
        });
       /* editor.setTheme('dark');
        editor.setPreviewTheme('dark');
        editor.setEditorTheme('pastel-on-dark');*/
    }


    //切换编辑器
    function switchEditor() {
        var type = $("#content_type").val();
        console.log("当前类型为---"+type);
        //切换为markdown
        if(type == "html"){
            $("#html-div").css("display","none");
            md();
            if('none' == $("#my-editormd").css("display")){
                $("#my-editormd").css("display","block");
            }
            $("#content_type").val("md");
            $("#switch-btn").text("切换为富文本编辑器");
        }

        //切换为富文本
        if(type == "md"){
            $("#my-editormd").css("display","none");
            //fuwenben();
            if('none' == $("#html-div").css("display")){
                $("#html-div").css("display","block");
            }
            $("#content_type").val("html");
            $("#switch-btn").text("切换为Markdown 编辑器");
        }
    }

    function subArticle(type) {
        if("" == $("input[name='title']").val()){
            var txt=  "请先填写文章标题哦";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
            return;
        }

        var content;
        if($("#content_type").val() == "html"){
            content = Htmleditor.txt.html();
        }else{
            console.log("markdown---"+$("#mdConetnt").val());
            content = Mdeditor.getHTML();
        }

        if("" == content){
            var txt=  "您还未开始写文章哦";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
            return;
        }

        $.ajax({
            type:'post',
            url:'/admin/index/save',
            data:JSON.stringify(GetJsonData()),
            cache:false,
            dataType:'json',
            contentType:"application/json",
            success:function(data){
                var txt=  "保存文章成功，到首页去查看吧";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);
                setTimeout(function () {
                    window.location.href = '/admin/index/list';
                }, 1000);
            },
            error:function(data){
                var txt=  "保存文章失败";
                window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.error);
            }
        });
    }

    function GetJsonData() {
        var content;
        if($("#content_type").val() == "html"){
            content = Htmleditor.txt.html();
        }else{
            console.log("markdown---"+$("#mdConetnt").val());
            content = Mdeditor.getHTML();
        }

        var pojoInputDTO = {
                data:{
                    "title": $("input[name='title']").val(),
                    "categories": $("select[name='categories']").val(),
                    "tags": $("input[name='tags']").val(),
                    "content": content,
                    "type": $("#content_type").val()
            }
        };
        return pojoInputDTO;
    }
</script>

</body>
</html>
