.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.pull-right {
  float: right !important;
}

.cco{
  font-family: Lato,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  width: 93.5%;
  height: auto;
  padding-top: 20px;
}

.cco p{
  margin-left: 10px;
  font-size: 16px;
}

.author-info{
  width: 100%;
  height: auto;
  padding-top: -1px;

}

.author-info input{
  width: 100%;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #ccc ;
  margin: 15px 0;
  margin-left: 10px;
  padding: 6px 9pt;
  margin-top: 5px;

}

textarea{
  font-family: Lato,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,STHeiti,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc ;
  margin: 15px 0;
  margin-left: 10px;
  padding: 6px 9pt;
  margin-top: 5px;
  resize : none;
}

#submitLink{
  margin-left: 45%;
  margin-bottom: 10px;
}

.comment{
  font-family: 微软雅黑;
  font-size: 18px;
  width: 100%;
  height: auto;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-left: 10px;
}