article pre code {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 100%;
}

article code {
    margin: 0 2px;
    padding: 4px 5px;
    border-radius: 5px;
    background-color: #eee;
    vertical-align: middle;
    font-size: 80%;
    font-family: Consolas,Monaco,Andale Mono,monospace;
}

article pre {
    margin-top:15px;
    margin-bottom:15px;
    position: relative;
    overflow: hidden;
    padding: .6em;
    border-left: 5px solid #ccc;
    background-color: #f8f8f8;
    color: #5d6a6a;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.6;
    word-break: break-word;
}


/**
*******************************以下是对富文本编辑器中的内容进行装饰的css**********************
 */
/* table 样式 */
table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
table td,
table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
}
table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
}

/* blockquote 样式 */
blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/* code 样式 */
code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}
pre code {
    display: block;
}

/* ul ol 样式 */
ul, ol, li {
    margin: 10px 0 10px 20px;
}